@import 'settings';
@import 'foundation-emails';

@import 'template/template';

// Background colors

.black {
    background-color: #000000;
}

.yellow {
    background-color: #fed500;
}

.blue {
    background-color: #5392ff;
}

// Type styles

.small-text {
    font-size: 14px;
    font-weight: 500;
}

.uppercase {
    text-transform: uppercase;
}

// Custom bullets

.custom-list {
    list-style: none;
    padding: 0 80px;
}

.custom-list li {
    position: relative;
    padding-left: 40px;
}

.custom-list li:before {
    content: '';
    width: 23px;
    height: 23px;
    position: absolute;
    background-image: url('/assets/img/checkbox.png');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

// Border edges

.border-top {
    background-image: url(/assets/img/wiggle.png);
    background-repeat: repeat-x; 
}

.border-bottom {
    background-image: url(/assets/img/wiggle-inverse.png);
    background-repeat: repeat-x; 
}