@import 'settings';
@import 'foundation-emails';

@import 'template/template';

.black {
    background-color: #000000;
}

.yellow {
    background-color: #fed500;
}

.blue {
    background-color: #5392ff;
}

.small-text {
    font-size: .9rem;
    font-weight: normal;
    line-height: 1.5;
}