@import 'settings';
@import 'foundation-emails';

@import 'template/template';

.black {
    background-color: #000000;
}

.yellow {
    background-color: #fed500;
}

.blue {
    background-color: #5392ff;
}